<h1>
  {{ pj.name | titlecase }}
  <button (click)="deletePj()">Eliminar</button>
</h1>

<div>
  <section class="money">
    <h2>Dinero</h2>
    <h3>Fénix</h3>
    <div class="values">
      @if (pj.fenix >= 10000) {
      <button (click)="minusFenix(10000)" class="small-font">-10K</button>
      } @if (pj.fenix >= 1000) {
      <button (click)="minusFenix(1000)" class="small-font">-1k</button>
      } @if (pj.fenix >= 100) {
      <button (click)="minusFenix(100)" class="small-font">-100</button>
      }
      <button (click)="minusFenix(10)">-10</button>
      <button (click)="minusFenix(5)">-5</button>
      <button (click)="minusFenix(1)">-1</button>
    </div>
    <p>{{ pj.fenix }}</p>
    <div class="values">
      <button (click)="plusFenix(1)">+1</button>
      <button (click)="plusFenix(5)">+5</button>
      <button (click)="plusFenix(10)">+10</button>
      @if (pj.fenix >= 100) {
      <button (click)="plusFenix(100)" class="small-font">+100</button>
      } @if (pj.fenix >= 1000) {
      <button (click)="plusFenix(1000)" class="small-font">+1K</button>
      } @if (pj.fenix >= 10000) {
      <button (click)="plusFenix(10000)" class="small-font">+10K</button>
      }
    </div>
    <h3>Blasones</h3>
    <div class="values">
      <button (click)="minusBlason()">-1</button>
    </div>
    <p>{{ pj.blason }}</p>
    <div class="values">
      <button (click)="plusBlason()">+1</button>
    </div>
    <h3>Alas</h3>
    <div class="values">
      <button (click)="minusAla()">-1</button>
    </div>
    <p>{{ pj.ala }}</p>
    <div class="values">
      <button (click)="plusAla()">+1</button>
    </div>
    <h3>Crestas</h3>
    <div class="values">
      <button (click)="minusCresta(10)" class="small-font">-10</button>
      <button (click)="minusCresta(5)">-5</button>
      <button (click)="minusCresta(1)">-1</button>
    </div>
    <p>{{ pj.cresta }}</p>
    <div class="values">
      <button (click)="plusCresta(1)">+1</button>
      <button (click)="plusCresta(5)">+5</button>
      <button (click)="plusCresta(10)" class="small-font">+10</button>
    </div>
  </section>

  <section class="exp">
    <h2>Experiencia</h2>
    <div class="values">
      @if (pj.exp >= 100) {
      <button (click)="minusExp(10)" class="small-font">-10</button>
      } @if (pj.exp >= 10) {
      <button (click)="minusExp(5)">-5</button>
      }
      <button (click)="minusExp(1)">-1</button>
    </div>
    <p>{{ pj.exp }}</p>
    <div class="values">
      <button (click)="plusExp(1)">+1</button>
    </div>
  </section>
</div>

<button routerLink="/" class="back">Volver</button>
