h1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 3rem;
}

img {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  width: 180px;
}

@media screen and (max-width: 320px) {
  img {
    width: 120px;
    top: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  img {
    width: 120px;
    top: 10px;
  }
}

@media screen and (min-width: 376px) {
  img {
    width: 180px;
  }
}
