h1 {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 3rem;
  background-color: white;
  width: 100%;
}

svg {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  max-width: 180px;
}

@media screen and (max-width: 320px) {
  svg {
    width: 40%;
    top: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  svg {
    width: 120px;
    top: 10px;
  }
}

@media screen and (min-width: 376px) {
  svg {
    width: 180px;
  }
}
